
version: 2
updates:
  - package-ecosystem: "pip" # See documentation for possible values
    cooldown:
      default-days: 10 # Fallback cooldown if no specific rule applies
    directory: "/"
    insecure-external-code-execution: allow
    schedule:
      interval: "weekly"
    labels:
      - "maintenance"
      - "dependencies"
    groups:
      general-dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "*sphinx*"
          - "numpydoc"
          - "pyvista*"
          - "pytest*"
      test-dependencies:
        patterns:
          - "pytest*"
      doc-dependencies:
        patterns:
          - "*sphinx*"
          - "numpydoc"
      pyvista:
        patterns:
          - "pyvista*"
  - package-ecosystem: "github-actions"
    cooldown:
      default-days: 10 # Fallback cooldown if no specific rule applies
    directory: "/"
    schedule:
      interval: "weekly"