[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "ansys-meshing-prime"
version = "0.4.0.dev8"
description = "PyPrimeMesh is a Python client to Ansys Prime Server, which delivers core Ansys meshing technology."
readme = "README.md"
requires-python = ">=3.8,<4"
license = {file = "LICENSE"}
authors = [{name = "ANSYS, Inc.", email = "pyansys.core@ansys.com"}]
maintainers =  [{name = "ANSYS, Inc.", email = "pyansys.core@ansys.com"}]
classifiers = [
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]

dependencies = [
  "ansys-api-meshing-prime==0.1.1",
  "numpy>=1.14.0",
  "appdirs>=1.4.0",
  "importlib-metadata>=4.0,<5; python_version<='3.8'",
]

[project.optional-dependencies]
graphics = [
  "pyvista>=0.32.0",
]
tests = [
  "pytest==7.3.1",
  "pytest-cov==4.0.0",
  "pytest-pyvista==0.1.8",
  "pyvista[trame]==0.38.6"
]
doc = [
  "ansys-sphinx-theme==0.9.8",
  "jupyter-sphinx==0.4.0",
  "numpydoc==1.5.0",
  "Sphinx==6.2.0",
  "pyvista==0.38.6",
  "sphinx-autodoc-typehints==1.23.0",
  "sphinx-copybutton==0.5.2",
  "sphinx-gallery==0.13.0",
  "sphinx-notfound-page==0.8.3",
  "sphinxemoji==0.2.0",
]
all = [
  "pyvista>=0.32.0",
]

[project.urls]
Source = "https://github.com/ansys/pyprimemesh"
Documentation = "https://prime.docs.pyansys.com"


[tool.flit.module]
name = "ansys.meshing.prime"

[tool.black]
line-length = 100
target-version = ['py38', 'py39', 'py310', 'py311']
skip-string-normalization = true
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  # The following are specific to Black, you probably don't want those.
  | blib2to3
  | tests
  | profiling
  | src/ansys/meshing/prime/autogen
  | .md
  | doc
)/
'''
